* {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

html {
    background-color: #F0F0F4;
}

.bigbox {
    width: 1000px;
    margin: 0 auto;
}

.title {
    text-align: center;
    color: #FF461F;
    font-family: "kaiti";
    padding: 20px 0px;
    font-size: 20px;
    font-weight: bold;
    background-color: #fff;
}

.nav {
    background-color: #FF461F;
}

.nav a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    margin-left: 10px;
}

.nav a:hover {
    background-color: #C93756;
}

.banner {
    width: 100%;
    font-size: 0px;
}

.banner img {
    width: 100%;
}

.main {
    padding: 20px;
    background-color: #fff;
}

.shandong img {
    float: left;
    width: 300px;
    margin: 20px;
}

.shandong p {
    font-size: 14px;
    line-height: 30px;
}

h2 {
    margin: 20px 0px;
    text-align: center;
}

.jingdian hr {
    background-color: #fff;
    width: 96%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.jingdian {
    background-color: #FF461F;
    padding: 20px 0px;
}

.jingdian h2 {
    color: #fff;
}

.jingdian ul li {
    float: left;
    width: 500px;
    text-align: center;
}

.jingdian ul li img {
    width: 480px;
    height: 270px;
}

.jingdian ul li p {
    color: #fff;
}

.clear {
    clear: both;
}

/* renwen */
.fengcai {
    width: 1000px;
    padding: 20px 0px;
    margin: 0 auto;
    text-align: center;
    background-color: #fff;
}

.fengcai hr {
    width: 96%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.fengcai img {
    width: 310px;
    height: 198px;
    margin: 0px 10px;
}

footer {
    width: 100%;
    background-color: #FF461F;
    color: #ffff;
    font-size: 14px;
    text-align: center;
    line-height: 60px;
    font-family: "kaiti";
}

.shandonglishi p {
    font-size: 14px;
    line-height: 24px;
    text-indent: 2rem;
}

.shandonglishi img {
    float: right;
    width: 300px;
    margin: 0px 10px;
}

.shandonglishi hr {
    margin-bottom: 20px;
}

/* .mingsheng */
.mingsheng li {
    margin-bottom: 20px;
}

.mingsheng li img {
    float: left;
    height: 224px;
    width: 400px;
}

.mingsheng li div:nth-child(2) {
    float: right;
    width: 540px;
}

.mingsheng li div:nth-child(2) h2 {
    text-align: left;
    margin: 10px 0px;
}

.mingsheng li div:nth-child(2) hr {
    margin: 10px 0px;
}

.mingsheng li div:nth-child(2) p {
    font-size: 12px;
}

/* food */
#food {}

#food video {
    width: 100%;
}

#food ul li {
    float: left;
    text-align: center;
}

#food ul li {
    width: 310px;
    margin-top: 20px;
}

#food ul li:nth-child(3n-1) {
    margin: 0px 15px;
    margin-top: 20px;

}

#food ul li img {
    width: 100%;
    height: 206px;
}

/* form */
#about_img img {
    width: 100%;
}

h3 {
    text-align: center;
    line-height: 60px;
    margin-top: 30px;
    letter-spacing: 10px;
}

#form {
    text-align: center;
}

form ul li {
    line-height: 40px;
    margin-bottom: 10px;
}

form input {
    width: 240px;
    height: 26px;
}

form ul {
    display: inline-block;
}

form ul span {
    float: left;
}

textarea {
    width: 244px;
}

form ul li button {
    width: 300px;
    height: 36px;
    border: 0px;
    background-color: #FF461F;
    color: #fff;
    border-radius: 4px;
    border: 1px solid #fff;
    cursor: pointer;
}

form ul li button:hover {
    background-color: #fff;
    color: #FF461F;
    border: 1px solid #FF461F;

}